* {
    margin: 0;
    padding: 0;
}

.container {
    width: 500px;
    height: 500px;
    display: grid;
    border-style: solid;
    border-color: gray;
}

button {
    margin: 30px;
    padding: 30px;
    font-size: 16px;
}

.slideContainer {
    margin: 30px;

}

.rainbowBtn:focus, .rainbowBtn:visited {
    background-color: red;
    color: white;
}